{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>Login Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'login/loginstyle.css' %}">
</head>

<body class="img js-fullheight" style="background-image:url({% static 'images/login1.jpg' %})">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section"><b>Admin Login</b></h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap p-0">
            <!-- <h3 class="mb-4 text-center">Have an account?</h3> -->
            <form action=loggedin class="signin-form" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" name="username" required>
              </div>
              <div class="form-group">
                <input id="password-field" type="password" class="form-control" name="password" placeholder="Password" required>
                <!-- <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span> -->
              </div>

              <button type="submit" class="form-control border-0 p-0"><img class="" src="{% static 'fingerprint.gif' %}" style="width:70px;height:55px;" alt=""></button>

              <div class="form-group d-md-flex">
                <div class="w-50">
                  <label class="checkbox-wrap checkbox-primary">Remember Me
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="w-50 text-md-right">

                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="{% static 'login/login.js' %}"></script>
  <script src="{% static 'login/becon.js' %}"></script>
  <script>
    eval(mod_pagespeed_T07FyiNNgg);
  </script>
  <!-- <script>eval(mod_pagespeed_zB8NXha7lA);</script>
<script>eval(mod_pagespeed_xfgCyuItiV);</script> -->

</html>
